[MASTER]

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code
extension-pkg-whitelist=cv2

# Maximum number of characters on a single line.
max-line-length=80

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,ex,Run,_,x,y,x1,x2,y1,y2,dx,dy,ptA,ptB

